/* https://rsms.me/inter/ */

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

.main-layout-body {
  background-color: rgb(35, 34, 34);
  color: rgb(197, 197, 197);
  line-height: 1.625;
  position: relative;
}

.main-container {
  margin: auto;
  min-height: 100vh;
  max-width: 1280px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 1024px) {
  .main-container {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media (max-width: 1023px) {
  .main-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }
}

@media (min-width: 1024px) {
  .dual-big-screen-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .sticky-left-header {
    position: sticky;
    top: 0;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-top: 6rem;
    padding-bottom: 6rem;  
  }
}

.nav-list {
  margin-top: 4rem;
  max-width: max-content;
}

@media (max-width: 1023px) {
  .nav-list {
    margin-top: 32px;
  }
}

.text-script-logo {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
}

.text-script-logo-mark {
  margin-right: 5px;
}

.text-script-logo-text {
  font-size: 1.125rem;
}

.text-script-logo-cursor {
  display: inline-block;
  width: 10px;
  height: 1rem;
  background: #f67124;
  margin-left: 5px;
  border-radius: 1px;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#typingCursor {
  display: inline-block;
  width: 10px;
  height: 2px;
  background: #f67124;
  border-radius: 1px;
  animation: blinker 1s linear infinite;
}