---
import Component from "../Component.astro";
import { SKILLS } from "../../data/skills";
---

<div class="mb-4 space-y-4">
    <p>
        I have a Bachelor’s in (Bsc) Computer Science from RHUL,
        with approximately a year of industry experience in Software 
        Development.
    </p>
    <p>
        Being a very logical person, I enjoy back-end development 
        and code optimisation. Though it's crucial to highlight the 
        finished product, I do take pride in my designs, with a clear, 
        simple, responsive, and contemporary UI. 
    </p>
    <p>
        Feel free to reach out and I’ll try to respond within a few days.
    </p>
    <!-- <hr class="h-px my-8 mx-1 bg-gray-200 border-0 dark:bg-orange-200 opacity-60"> -->
</div>
<div class="mt-10 mb-4 space-y-4">
    <p class="text-xs uppercase underline decoration-orange-500/90 underline-offset-8">
        Technical skills
    </p>

    {
        SKILLS.length && (
            <ul
                class="grid mx-1 mt-8 items-center grid-cols-5 md:grid-cols-7"
                aria-label="Technical skills"
            >
                {SKILLS.map((tech) => (
                    <li class="ml-1 mt-3 shrink-0 text-xs text-center text-slate-200 font-extralight">
                        <span class="flex justify-center">
                            <span class="block w-9 h-9">
                                <span class="sr-only">{tech.name}</span>
                                <Component component={tech.icon} /> 
                            </span>
                        </span>
                        <h2>{tech.name}</h2>
                    </li>
                ))}
            </ul>
        )
    }    
</div>