---
import TechLabel from "../TechLabel.astro"
import { SKILLS } from "../../data/skills";
---

<div class="mb-4 space-y-4">
    <p>
        I have a Bachelor’s in (Bsc) Computer Science from RHUL,
        with approximately a year of industry experience in Software 
        Development.
    </p>
    <p>
        Being a very logical person, I enjoy back-end development 
        and code optimisation. Though it's crucial to highlight the 
        finished product, I do take pride in my designs, with a clear, 
        simple, responsive, and contemporary UI. 
    </p>
    <p>
        Feel free to reach out; I’ll try to respond within a few days.
    </p>
    <p>
        -------------------
    </p>
    <p>
        Tech Stack:
    </p>
    <TechLabel technologies={SKILLS}/>
</div>