---
import Layout from '../layouts/MainLayout.astro';
import { SOCIALS } from "../data/socials";
import Component from '../components/Component.astro';
---

<Layout title='Henry'>
	<div class="main-container">
		<div class="big-screen-view">	
			<header class="sticky-left-header">
				<div>
					<h1 class="text-4xl font-bold tracking-tight text-slate-200 sm:text-5xl">Henry</h1>
					<h2 class="mt-3 text-lg font-medium tracking-tight text-slate-200 sm:text-xl">Software Developer</h2>
					<nav>
						<ul class="list-spacing">
							<div class="text-script-logo">
								<span class="text-script-logo-mark">&gt;</span>
								<span class="text-script-logo-text"># cd ~/</span>
								<span class="text-script-logo-cursor"></span>
							</div>
							<li>
								About
							</li>
							<li>
								Experience
							</li>
							<li>
								Projects
							</li>
						</ul>
					</nav>
				</div>

				{
					SOCIALS.length && (
						<ul
						class="ml-1 mt-8 flex items-center justify-center lg:justify-normal"
						aria-label="Social media"
						>
						{SOCIALS.map((social) => (
							<li class="mr-5 shrink-0 text-xs">
								<a
									class="block hover:text-slate-200"
									href={social.url}
									target="_blank"
									rel="noreferrer noopener"
									aria-label={`${social.name} (opens in a new tab)`}
								>
									<span class="sr-only">{social.name}</span>
									{<Component component={social.icon} />}
								</a>
							</li>
						))}
						</ul>
					)
				}
			</header>

		</div>
	</div>
</Layout>