---
import Section from "../layouts/Section.astro"
import About from "./sections/About.astro"
import Experience from "./sections/Experience.astro"
import Projects from "./sections/Projects.astro"
import Footer from "./sections/Footer.astro"
---

<main id="content" class="pt-24 lg:w-1/2 lg:py-24">
    <Section section="about" label="About Me">
        <About />
    </Section>
    <Section section="experience" label="Work Experience">
        <Experience />
    </Section>
    <Section section="projects" label="Projects">
        <Projects />
    </Section>
    <Footer />
</main>
