<header class="header">
    <div class="header-inner">
        <a href="/index" style="text-decoration: none;">
            <div class="logo">
                <span class="logo-mark">&gt;</span>
                <span class="logo-text"># cd ~/</span>
                <span class="logo-cursor"></span>
            </div>
        </a>
        <div class="header-right">
            <nav class="menu">
                <ul class="menu-inner">
                    <li>
                        <a href="/about">about</a>
                    </li>
                    <li>
                        <a href="/projects">projects</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
