---
interface Props {
    technologies: string[];
}

const { technologies } = Astro.props;
---

{
    technologies.length && (
        <ul
            class="mt-2 flex flex-wrap"
            aria-label="Technologies used"
        >
            {technologies.map((technology) => (
                <li class="mr-1.5 mt-2">
                    <div class="flex items-center rounded-full border border-neutral-700 border-opacity-50 shadow bg-neutral-400/10 px-3 py-1 text-xs font-medium leading-5 text-orange-500">
                        {technology}
                    </div>
                </li>
            ))}
        </ul>
    )
}